VITE_PROFILE_API_URL=https://SUA_API.execute-api.us-east-1.amazonaws.com/Prod/profile
VITE_CHATBOT_API_URL=https://SUA_API.execute-api.us-east-1.amazonaws.com/Prod/chatbot
VITE_SUBMISSIONS_API_URL=https://api.SEUNOME.SIFU.web.ufersa.dev.br/submissions
